/*======== CARD STYLES ========*/
.mdl-card__title-text {
    font-weight: 400;
}
#myRecipesCard > .mdl-card__title{
    background: url('images/utensils.png') center / cover;
}
#myListsCard > .mdl-card__title{
    background: url('images/list.png') center / cover;
}
.card-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container .after {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
.list-card {
    background: #37474F;
}
.list-card-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/*======== TABLE STYLES ========*/
#listTable {
    /*width: 100%;*/
}
.subtitle-name {
    color: #868686;
}
.details-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #868686;
    font-variant: all-small-caps;
    text-align: center;
}
.featured-details {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0;
    font-variant: normal;
}
.checked-off {
    text-decoration: line-through;
}

/*======== CARD STYLES ========*/
.card-image {
    height: 200px;
}
.card-title {
    font-family: Raleway;
    padding-left: 1.2rem;
}
.card-title h2 {
    margin-bottom: 0;
}
.card-title h4 {
    margin-top: 0;
}

/*======== DIALOG STYLES ========*/
.add-recipe-dialog {
    width: 600px;
    height: 500px;
    overflow-y: scroll;
}
.extrawide-textarea{
    width: 100%;
}
.single-line-textboxes {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}